/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
    box-sizing: border-box
}
* *:before *:after{
    box-sizing: border-box
}
header{
    
}

.fa-bars{
    font-size: 2em;
    color: white;
}
h1,
h2,
h3,
h4,{
    font-size: 2em;
    text-decoration: uppercase;
    
}
img{
    max-width: 100%;
    
}
body{
    padding-top: 3.25em;
    margin:0 50px;
}
.page-header{
    background: #000;
    color: white;
    padding: 1em;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    
}
.page-header h1{
    margin:0;
}
.page-header .main-nav{
    position: absolute;
    top: 1em;
    right: 1em;
}
.page-section{
    padding: 1em;
    border-bottom: 1px solid #ddd;
}
.jumbotron{
    background-image: url("images/purple-bg.jpeg" alt="purple");
    padding: 0;
    position:relative;
}
.jumbotron-content{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)
    line-height: 1em;
}
.main-image{
position: relative;
width: 100%;
    z-index: -10;
}
.jumbotron-content h2{
    position:absolute;
    margin-top: 0;
    margin-bottom:0;
    left:-125px;
    top:10px;
     font-size: 3em;
    text-align: center;
    color: white;
    
}
.btn{
    border:0.125em solid white;
        position:absolute;
    top: 150px;
    left:-60px;
    color:#fff;
padding: .5em 1.5em;
font-size: 150%;
border: .0625em solid #fff;
text-decoration:none;
    display: inline-block;
}
.btn:hover{
    background: black;
    color:white;
}

.project-thumb{
    width: 50%;
    float: left;
}

.cafe{
    width: 640px;
    height: 480px;
    position: relative;
    z-index: -10;
    
}
.museum{
    width: 640px;
    height: 480px;
    position: relative;
    z-index: -10;
}
.wildlife{
    width: 640px;
    height: 480px;
    position: relative;
    z-index: -10;
}

.project-thumb .img{
     background:hsla(360, 100%, 100%, 0.5);
    position: relative;
    z-index: -10;


    
}
.project-thumb h3{
 margin-top: 0;
margin-bottom: 0;
border: 1px solid white;
    color: black;
position: absolute;
text-align: center;
    top: 50%
    bottom: 50%
    transform: translate (-50%, -50%)

    
}
h3 a:hover{
    color: #000;
    background-color:#fff;
    padding:0.625em;}


.page-footer img{
    width: 100%;

}
.contact{
    color:white;
    top:250px;
    left:400px
    
}
.button{
    position: relative;
    border: 1px solid white;
    color: white;
    top: 300px;
    left: 600px

    
}





















